
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title {
  text-align: center;
}

.FormArea {
  display: block;
  width: 100%;
  padding-left: 5%;
}
.BadCode {
  float: left;
  clear: left;
  padding-left: 5%;
  padding-right: 10%;
  background-color: #fff;
}

.FixedCode {
  float: left;
  clear: right;
  left: 50%;
  padding-left: 5%;
  padding-right: 2%
}

.BadCode,
.FixedCode {
  padding-top: 5%;
  padding-bottom: 5%;
}

.Program {
  display: flex;
  margin-top: 1px;
  white-space: pre;
}

.Difference > del {
  background-color: #ff704d;
  text-decoration: none;
}

.Difference > ins {
  background-color: #66ff66;
  text-decoration: none;
}
