html {
 /* overflow-y: hidden; */
}

/* Prevents horizontal scrolling */
html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100%;
}

#main {
  height: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}

/* Stylizes the headers' elements*/
header {
  overflow: hidden;
}

.badOutput,
.goodOutput {
  width: 40%;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.badOutput {
  float: left;
}

.goodOutput {
  float: left;
}

.queryArea {
  display: block;
  height: 80%;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
}
